#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd1d3;
  color: black;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.response-container {
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  max-width: 100%; /* Ensure it doesn't exceed the container width */
  white-space: pre-wrap; /* Maintain line breaks */
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Handle overflowing text */
  box-sizing: border-box; /* Include padding and borders in element's width */
}
